@model LoginReg.Models.User

@{
    ViewBag.Title = "View";
}

<h2>View</h2>
<br /><br />

      <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input class="form-control" type="text" onblur="validateFirstname()" name="Firstname" id="firstname" placeholder="FirstName" />
          </div>
          <span id="firstnameerror" style="visibility:hidden"></span>
          @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
      </div>

<div class="container">
    <div class="col-md-4">
        <input type="file" id="SelectImage" /><br />
        <a href="#" class="btn btn-sm btn-danger" onclick="UploadImage()">Upload</a>
    </div>

    <div class="col-md-4 thumbnail" id="UploadedImage"></div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    var UploadImage = function () {
        var file = $("#SelectImage").get(0).files;
        var data = new FormData;
        data.append("postedFile", file[0]);
        $.ajax({
            type: "POST",
            url: "/Image/ImageUpload",
            data: data,
            contentType: false,
            processData: false,
            success: function (imgID) {
                $("#UploadedImage").append('<img src="/Home/DisplayingImage?imgID=' + imgID + '"class=img-responsive  thimbnail"/>');
            }
        })
    }

</script>